.Navigator{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 10%;
    background-color: white;
    box-shadow: 0px 0px 15px rgb(97, 213, 255);
    padding-top: 10px;
}

.nav-link{
    height: 90%;
    width: 4em;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 5px rgb(97, 213, 255);

    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.nav-link svg{
    height: 70%;
    width: 70%;
    color: rgb(97, 213, 255);
}